<template>
  <div class="w-full my-3 flex">
    <input
      class="bg-neutral-700 text-lg rounded-lg flex-grow mr-2 p-1"
      v-model="taskTitle"
    />
    <IconButton title="Add" icon="plus-lg" @click="addTask" />
  </div>
</template>

<script>
import axios from "axios";

import IconButton from "./IconButton.vue";

export default {
  components: {
    IconButton,
  },
  data() {
    return {
      taskTitle: "",
    };
  },
  methods: {
    addTask() {
      axios
        .post("http://localhost:3000/api/tasks", { title: this.taskTitle })
        .then(() => {
          this.taskTitle = "";
          this.$emit("addTask");
        });
    },
  },
};
</script>
