<template>
  <button
    class="text-white px-2 py-1 flex items-center rounded-lg"
    :class="{ 'bg-neutral-700': !transparent }"
  >
    <i class="text-2xl bi" :class="[iconClass, colorClass]"></i>
    <span v-if="title" class="ml-3 text-lg">{{ title }}</span>
  </button>
</template>

<script>
export default {
  props: {
    icon: {
      type: String,
      required: true,
    },
    title: String,
    color: String,
    transparent: Boolean,
  },
  computed: {
    iconClass() {
      return "bi-" + this.icon;
    },
    colorClass() {
      return this.color ? "text-" + this.color + "-600" : "";
    },
  },
};
</script>
