<template>
  <div
    class="rounded-lg p-2 flex items-center justify-between"
    :class="{
      'bg-neutral-700': !task.Completed,
      'bg-neutral-800': task.Completed,
      'text-white': !task.Completed,
      'text-neutral-400': task.Completed,
    }"
  >
    <span class="text-lg">{{ task.Title }}</span>
    <div class="flex flex-nowrap">
      <IconButton
        v-if="!task.Completed"
        icon="check2"
        color="green"
        transparent
        @click="handleComplete"
      />
      <IconButton icon="trash" color="red" transparent @click="handleDelete" />
    </div>
  </div>
</template>

<script>
import axios from "axios";

import IconButton from "./IconButton.vue";

export default {
  components: {
    IconButton,
  },
  props: {
    task: {
      type: Object,
      required: true,
    },
  },
  methods: {
    handleComplete() {
      axios
        .put(`http://localhost:3000/api/tasks/${this.task.Task_ID}`)
        .then(() => {
          this.$emit("onComplete");
        });
    },
    handleDelete() {
      axios
        .delete(`http://localhost:3000/api/tasks/${this.task.Task_ID}`)
        .then(() => {
          this.$emit("onDelete");
        });
    },
  },
};
</script>
