<template>
  <div
    class="w-screen h-screen p-4 bg-neutral-900 text-white flex flex-col items-center"
  >
    <h1 class="text-5xl font-extralight">
      To<span class="font-semibold">Do</span>
    </h1>
    <AddTask @addTask="updateTasks" />
    <div class="w-full grid grid-cols-2 gap-2">
      <TaskCard
        v-for="(task, index) in tasks"
        :key="index"
        :task="task"
        @onComplete="updateTasks"
        @onDelete="updateTasks"
      />
    </div>
  </div>
</template>

<script>
import axios from "axios";

import AddTask from "./components/AddTask.vue";
import TaskCard from "./components/TaskCard.vue";

export default {
  name: "App",
  components: {
    AddTask,
    TaskCard,
  },
  data() {
    return {
      tasks: null,
    };
  },
  methods: {
    updateTasks() {
      axios.get("http://localhost:3000/api/tasks").then((response) => {
        this.tasks = response.data.tasks;
      });
    },
  },
  mounted() {
    this.updateTasks();
  },
};
</script>
